    .main{
        height: 100vh;
        max-width: 1350px;
        display: flex;
        margin: 0px auto;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        
    }
    





   